<%- include('../includes/head.ejs') %>
    <section class="main-container">
        <br>
        <br>
        
        <div class="container is-max-widescreen">
            <div class="box is-shadowless">
                <h1 class="label is-size-2"> Expediente de: <%= usuario.nombre %> </h1>
                <div class="columns" >
                    <!--<div class="column is-1"> </div> -->
                    <div class="column is-3"><h2 class="Title label">Archivo</h2> </div>
                    <div class="column is-2"></div>
                    
                    <div class="column"> <h2 class="Title label">Comentarios</h2></div>
                    <div class="column is-2"> <h2 class="Title label">Estatus </h2> </div> 
                </div>
            </div>
        <form action="/expediente/actualizar" method="POST">  
            <% for(let element of info) { %>
                
                <%- include('../Expediente/bloqueArchivo.ejs', {info: element}) %>
                
            <% } %>
            <div class="box is-shadowless">
              
                <div class="columns">  
                    <div class="column is-10"></div>
                    <div class="column"><button class="button is-primary is-fullwidth" type="submit" id="botonguardar" name="boton" value="salvar"> Guardar </button></div>
                </div>
                
            
            </div>
        </form>
        
    </section> 
    <script src="./js/dist/bulma-toast.min.js"></script>
    
    <% if(msg != '') { %>

        <% if(exito == 1) { tipo = 'is-success'; } else { tipo = 'is-danger';} %> 
        <script>
            bulmaToast.toast({ message: '<%= msg %>', type: '<%= tipo %>', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }})
        </script>
    <% } %>
    <script src="./js/expediente.js"></script>
<%- include('../includes/foot.ejs') %>

        