<%- include('../includes/head.ejs') %>
    <section class="main-container">
        <br>
        <br>
        
        <div class="container is-max-widescreen">
            <div class="box ">
                <h1 class="label is-size-2"> Mi Expediente:  </h1>
                <div class="columns">
                    <% if(arr[0]) {%>
                    <div class="column is-2 ">
                        <button class="button is-danger is-fullwidth" onclick="cargarexp(this)" value="5"> Arrendador </button>
                    </div>
                    <% } %>
                    <% if(arr[1]) {%>
                    <div class="column is-2">
                        <button class="button is-danger is-fullwidth" onclick="cargarexp(this)" value="1"> Vendedor </button>
                    </div>
                    <% } %>
                    <% if(arr[2]) {%>
                    <div class="column is-2">
                        <button class="button is-danger is-fullwidth" onclick="cargarexp(this)" value="3"> Comprador </button>
                    </div>
                    <% } %>
                </div>
            </div>   
                
            <div class="box">    
                <div class="columns" >
                    <!--<div class="column is-1"> </div> -->
                    <div class="column is-3"><h2 class="Title label">Archivo</h2> </div>
                    <div class="column" ></div>
                    
                    <div class="column is-5"> <h2 class="Title label">Comentarios</h2></div>
                    <div class="column is-2"> <h2 class="Title label">Estatus </h2> </div> 
                </div>
            </div>
            <form action="/expediente/miexpediente" method="POST"  enctype="multipart/form-data" id="subirarch"> 
                <input type="hidden" value="<%= user %>" id="user" name="user">
                <input type="hidden" value="" id="selectedFiles" name="SelFiles">
                <input type="hidden" value="" id="removedFiles" name="RMFiles">
                <input type="hidden" value="" id="NremovedFiles" name="NRMFiles">
                <input type="hidden" value="" id="removepaths" name="removepaths">
                <div id="exp">

                </div>
                <br>
                <div class="columns">
                    <div class="column is-3">
                        
                        <button  type="button" class="button is-danger is-fullwidth"  onclick="subirarchivo()" id="botonguardar" name="boton"> Guardar Cambios</button>
                    </div>
                    
                </div>
            </form>
            <script src="../js/expedienteCliente.js"></script>
        <script>
            const cargarexp = (elemento) =>{
                let estados = ['Faltante', 'Pendiente', 'Aceptado', 'Rechazado'];
                let query = elemento.value;
                fetch('/expediente/fetch/' + query, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }).then(result => {
                    return result.json();
                }).then(data => {
                    console.log(data);
                    let html = '';
                    for(elements of data){
                        if(elements.estatus == undefined)
                            elements.estatus = 0;
                        if(elements.Comentarios == undefined)
                            elements.Comentarios = ' ';
                        
                        let hidden = (elements.URL != undefined && elements.URL != '') ? '' : 'is-hidden';
                        let path = (elements.URL == undefined | elements.URL == '') ? '' : (elements.URL.split('\\')).pop();
                        let preloaded = hidden != 'is-hidden' ? 1 : 0;
                        html +=
                        `
                        <div class="has-background-light box">
                            <div class="columns is-flex is-vcentered">
                                <input type="hidden" name="Tipo_Doc" value="${elements.tipo_doc}">
                                <div class="column is-3">
                                    <label class="label"> ${elements.descripcion}</label>
                                    <input type="hidden" value="${preloaded}" id="preloaded-${elements.tipo_doc}" name="preloaded">
                                    <input type="hidden" value="${elements.URL}" id="archivofull-${elements.tipo_doc}" name="archivofull">
                                </div>
                                    <div class="column is-narrow" style="width: 200px;">
                                        <div class="file is-small is-boxed has-name is-danger ">
                                            <label class="file-label ">
                                                <input class="file-input"  accept=".pdf" type="file" name="archivo2" id="boton-${elements.tipo_doc}" onchange="clickArchivo(this)">
                                                <span class="file-cta">
                                                
                                                    <span class="file-label">
                                                        Selecciona Archivo
                                                    </span>
                                                </span>
                                                <span class="file-name ${hidden}" id="archivo-${elements.tipo_doc}">
                                                    ${path}
                                                </span>
                                            </label>
                                            <span id="erase-${elements.tipo_doc}" class="level-right button is-boxed is-danger ${hidden} "onclick="removerArchivo(this)" style="margin-left: 10px">
                                                    <i class="tiny material-icons"> clear </i>    
                                                </span>
                                        </div>
                                    </div>
                            <div class="column is-5">
                                <h2 class="label"> ${elements.Comentarios} </h2>
                            </div>
                            <div class="column is-2"> <h2 class="label"> ${estados[elements.estatus]} </h2></div>
                            </div> 
                        </div>

                            
                        `
                        document.getElementById('exp').innerHTML = html;
                    }
                }).catch(err => {
                    console.log(err);
                });
            }
            const subirarchivo = () =>{
                let element = document.getElementById('subirarch');
                element.submit();
            }
        </script>
<script src="../js/dist/bulma-toast.min.js"></script>
<% if(info != '') { %>
    <script>
        bulmaToast.toast({ message: '<%= info %>', type: 'is-danger', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }})
    </script>
<% } %>
<% if(infopositiva != '') { %>
    <script>
        bulmaToast.toast({ message: '<%= infopositiva %>', type: 'is-success', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }})
    </script>
<% } %>
<%- include('../includes/foot.ejs') %>

        