<%- include('../includes/head.ejs') %>
    <section class="main-container">
        <br>
        <br>
        
        <div class="container is-max-widescreen">
            <div class="box ">
                <h1 class="label is-size-2"> Expediente de: <%= propname.Titulo %> </h1>
                <% if(Asignados.length > 1) {%>

                    <div class="box content">
                        
                            <p> Propietario: <%= Asignados[1].nombre + ' ' + Asignados[1].PA + ' ' + Asignados[1].SA %> </p>
                                <ul>
                                    <li> <p> Correo: <%= Asignados[1].email %></p> </li>
                                    <li> <p> Telefono: <%= Asignados[1].Telefono %> </p> </li>
                                </ul>
                                <a class="button is-danger"href="/expediente/revisar/<%= Asignados[1].IdUsuario %>" > Revisar Expediente </a>
                    
                    </div>
                <% } %> 
                
                <div class="columns is-multiline">
                    <%if(map.size != 0){ %>
                        <% for(const [key, value] of map) { %>
                            <div class="column">
                                <button class="button is-danger is-fullwidth" onclick="llamarcarga(this)" value="<%= key %>"><%= value %> </button>
                            </div>
                        <%}%>
                    <%} else {%>
                        <div class="column">
                            No tienes ningun tipo de expediente asignado
                        </div>
                    <%}%>
                     
                </div>
            </div>

            <div class="box is-hidden" id="mainbody">   
                    
                
                    
                <div class="columns "  >
                    <!--<div class="column is-1"> </div> -->
                    <div class="column is-3"><h2 class="Title label">Archivo</h2> </div>
                    <div class="column" ></div>
                    
                    <div class="column is-5"> <h2 class="Title label">Comentarios</h2></div>
                    <div class="column is-2"> <h2 class="Title label">Estatus </h2> </div> 
                </div>
            </div>
        <form action="/expediente/actualizar" method="POST" id="actualizar">  
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <div id="exp">

            </div>
            <!-- /*<% for(let element of info) { %>
                
                <%- include('../Expediente/bloqueArchivo.ejs', {info: element}) %>
                
            <% } %> */ -->
            <br>
            <br>
            <div class="box is-shadowless">

                <input type="hidden" name="IdUsuario" value="<%=IdProp%>" id="IdUsuario">
                <div class="columns ">
                    <div class="column is-3">
                        
                        <button  type="button" class="button is-danger is-fullwidth is-hidden"   id="botonguardar" name="boton" onclick="actualizarExp()"> Guardar Cambios</button>
                    </div>
                    <div class="column is-6"></div>
                    <div class="column">
                        <a href="/dashboard/asignado" class="button is-danger"> Regresar </a>
                    </div>
                </div>
                
            
            </div>
        </form>
        
    </section> 
    <script src="../js/dist/bulma-toast.min.js"></script>
    

    <% if(info != '') { %>
        <script>
            bulmaToast.toast({ message: '<%= info %>', type: 'is-danger', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }})
        </script>
    <% } %>
    <% if(infopositiva != '') { %>
        <script>
            bulmaToast.toast({ message: '<%= infopositiva %>', type: 'is-success', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }})
        </script>
    <% } %>
    <script src="../js/expedienteRevProp.js"></script>
<%- include('../includes/foot.ejs') %>

        