<%- include('../includes/head.ejs') %>
    <section class="main-container">
        <br>
        <br>
        
        <div class="container is-max-widescreen">
            <div class="box ">
                <h1 class="label is-size-2"> Mi Expediente:  </h1>
                <div class="columns  is-multiline">
                    <%if(map.size != 0){ %>
                        <% for(const [key, value] of map) { %>
                            <div class="column">
                                <button class="button is-danger is-fullwidth" onclick="llamarcarga(this)" value="<%= key %>"><%= value %> </button>
                            </div>
                        <%}%>
                    <%} else {%>
                        <div class="column">
                            No tienes ningun tipo de expediente asignado
                        </div>
                    <%}%>
                    
                    
                </div>
            </div>   
            <div class="notification is-warning is-hidden" id="aviso">
                <button class="delete"></button>
                    Vas a eliminar/reemplazar un archivo que ya tenias guardado. Si estas seguro de esto, presiona <strong> 'Guardar Cambios' </strong>. Si no, presiona aqui.
                <br>
                <button class="button" onclick="revertirCambios(this)"> Revertir </button>
              </div> 
            <%if(map.size != 0){ %>
                <div class="box is-hidden" id="mainbody">   
                    
                
                    
                    <div class="columns "  >
                        <!--<div class="column is-1"> </div> -->
                        <div class="column is-3"><h2 class="Title label">Archivo</h2> </div>
                        <div class="column" ></div>
                        
                        <div class="column is-5"> <h2 class="Title label">Comentarios</h2></div>
                        <div class="column is-2"> <h2 class="Title label">Estatus </h2> </div> 
                    </div>
                </div>
                <form action="/expediente/miexpediente" method="POST"  enctype="multipart/form-data" id="subirarch"> 
                    <input type="hidden" value="<%= user %>" id="user" name="user">
                    <input type="hidden" value="" id="Tipo_Exp" name="Tipo_Exp">
                    <input type="hidden" value="<%= init %>" id="initval" name="initval">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <div id="dynelements">

                    </div>
                    <div id="exp">

                    </div>
                    <br>
                    <div class="columns ">
                        <div class="column is-3">
                            
                            <button  type="button" class="button is-danger is-fullwidth is-hidden"  onclick="subirarchivo()" id="botonguardar" name="boton"> Guardar Cambios</button>
                        </div>
                        <div class="column is-6"></div>
                        <div class="column">
                            <a href="/dashboard" class="button is-danger"> Regresar </a>
                        </div>
                    </div>
                </form>
            <%} %>
            <script src="../js/expedienteCliente.js"></script>
<script src="../js/dist/bulma-toast.min.js"></script>
<% if(info != '') { %>
    <script>
        bulmaToast.toast({ message: '<%= info %>', type: 'is-danger', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }})
    </script>
<% } %>
<% if(infopositiva != '') { %>
    <script>
        bulmaToast.toast({ message: '<%= infopositiva %>', type: 'is-success', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }})
    </script>
<% } %>
<%- include('../includes/foot.ejs') %>

        