<div class="card">
    <div class="card-content">


<!-- Generar información del usuario -->
    <article class="media">
       
        <div class="media-content">
          <div class="content is-small"> 
            <h1><%=nombre ? nombre : ''%></h1>
            <p class="pt-0 pb-0 m-0"><i class="mdi mdi-phone pr-2 "></i><%=telefono  ? telefono  : ''%></p>
            <p class="pt-0 pb-0"><i class="mdi mdi-email pr-2"></i><%=email  ?  email  : ''%></p>
          </div>
    </article>

    <% if (permisos.indexOf('registrar_propiedad') != -1) { %>
      <div class="content">
          <a href="/propiedades/registrar"><button class="button is-danger is-fullwidth ">+ Añadir propiedad</button></a>
      </div>
    <% } %>  

    </div>


<!-- Botones del menu del dashboard, cada uno esta en un footer para separarlos -->


<% if (permisos.indexOf('panel_agente') != -1)  { %>
  <%- include ('menu.agente.ejs')   %>
<% } else if(permisos.indexOf('panel_usuario') != -1)  { %>
  <%- include ('menu.usuario.ejs')  %>
<% } else if(permisos.indexOf('panel_admin') != -1) { %>
  <%- include ('menu.admin.ejs')    %>
<% } %>

<footer class="card-footer">
  <div class="content is-danger has-icons-left">
    <a href="/login/logout" class="card-footer-item"><i class="mdi mdi-logout-variant pr-2 pl-4"></i>Cerrar sesión</a>
  </div>
</footer>
  </div>