<div class="container mt-2 pl-5 pr-5">
  <div class="columns">
    <div class="column is-6">
        <div class="card-image ">
          <figure class="image is-4by3">
            <img src="\<%=imagenes[0].Imagen%>">
          </figure>
        </div>
    </div>
    <div class="column is-3">
      <div class="card-image pb-4">
        <figure class="image is-4by3">
          <img src="<%=propiedad.Imagenes%>">
        </figure>
      </div>
      <div class="card-image pb-4">
        <figure class="image is-4by3">
          <img src="<%=propiedad.Imagenes%>">
        </figure>
      </div>
    </div>
    <div class="column is-3">
        <div class="card-image pb-4 ">
          <figure class="image is-4by3">
            <img src="<%=propiedad.Imagenes%>">
          </figure>
        </div>
        <div class="card-image pb-4">
        <figure class="image is-4by3">
          <img src="<%=propiedad.Imagenes%>">
        </figure>
      </div>
    </div>
    </div>
  </div>
</div>
