<div class="container mt-2 pl-5 pr-5">
  <div class="columns">
    <div class="column is-6">
        <div class="card-image ">
          <figure class="image is-4by3">
            <img onclick="accion_asincrona()" src="../uploads/<%=imagenes[0]%>">
          </figure>
        </div>
    </div>
    <div class="column is-3">
      <div class="card-image pb-4">
        <figure class="image is-4by3">
          <img src="../uploads/<%=imagenes[1]%>">
        </figure>
      </div>
      <div class="card-image pb-4">
        <figure class="image is-4by3">
          <img src="../uploads/<%=imagenes[2]%>">
        </figure>
      </div>
    </div>
    <div class="column is-3">
        <div class="card-image pb-4 ">
          <figure class="image is-4by3">
            <img src="../uploads/<%=imagenes[3]%>">
          </figure>
        </div>
        <div class="card-image pb-4">
        <figure class="image is-4by3">
          <img src="../uploads/<%=imagenes[4]%>">
        </figure>
      </div>
    </div>
    </div>
  </div>
</div>
