<%- include('../includes/head.ejs') %>
<%- include('busqueda.avanzada.ejs') %>
<div id="resultados">
    <%- include('propiedades.ejs', {propiedad: propiedad}) %>
</div>
<%- include('search_ajax.ejs') %>
<%- include('../includes/foot.ejs') %>