<%- include('../includes/head.ejs') %>


<section class="main-container pl-5  pr-5">
    <div class="container mt-2 pl-5 pr-5">

        <% if (propiedad === '') { %>
            <form action="/propiedades/registrar" method="POST" enctype="multipart/form-data" id="formaimgs">
            <input type="hidden" id="id" name="id" value="<%= propiedad.IdPropiedad %>">
            <div class="content mt-5"">
                <h1>Resgistrar propiedad</h1>
            </div>
        <% } else { %>
            <form action="/propiedades/editar" method="POST">
            <input type="hidden" id="id" name="id" value="<%= propiedad.IdPropiedad %>">
            <input type="hidden" id="id" name="usodata" value="<%= propiedad.Uso %>">
            <div class="content mt-5"">
                <h1>Editar propiedad</h1>
            </div>
                
        <% } %>


        <div class="columns is-multiline">
            <div class="column is-8">
                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                        <div class="active-container">
                            <div class="content is-small">
                                <div class="field">
                                    <label class="label">Titulo</label>
                                    <div class="control">
                                    <input onkeyup="cambiarcolor(this)" class="input" id="campo-1" name="titulo" type="text" maxlength="40" placeholder="Titulo del anuncio" value="<%= propiedad.Titulo ? propiedad.Titulo : '' %>">
                                    </div>
                                </div>
                            </div>


                            <div class="columns">
                             <% if (propiedad === '') { %>
                                <div class="column is-3">
                                    <div class="field">
                                        <label class="label">Tipo de propiedad</label>
                                        <div class="control">
                                            <div class="select is-expanded is-fullwidth">
                                                <select class="select" name="uso" id="tipoPropiedad" onchange="cambiarcolor(this)">
                                                    <option value="" disabled selected hidden>Seleccionar tipo</option>
                                                    <option value="1">Residencial</option>
                                                    <option value="2">Comercial</option>
                                                    <option value="3">Terreno</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="column is-3">
                                    <div class="field">
                                        <label class="label">Visibilidad</label>
                                        <div class="control">
                                            <div class="select is-expanded is-fullwidth">
                                                <select class="select" name="visibilidad" id="visibilidad">
                                                    <option value="" disabled selected hidden>Seleccionar visibilidad</option>
                                                    <% if ( propiedad.Visibilidad === 0){ %>
                                                    <option value="0" selected>Visible</option>
                                                    <option value="1">No visible</option>
                                                    <%} else if( propiedad.Visibilidad === 1){ %>  
                                                    <option value="0">Visible</option>
                                                    <option value="1" selected>No visible</option>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <div class="column is-3">
                                    <div class="field">
                                        <label class="label">Subtipo</label>
                                        <div class="control">
                                            <div class="select is-expanded is-fullwidth">
                                                <select class="select" name="tipopropiedad">
                                                    <option  disabled  <% if ( propiedad === ''){ %> selected <% } %> hidden >        Seleccionar tipo</option>
                                                        <option value="1" <% if ( propiedad.TipoPropiedad === 1){ %>selected <% } %>>   Casa        </option>
                                                        <option value="2" <% if ( propiedad.TipoPropiedad === 2){ %>selected <% } %>>   Departamento</option>
                                                        <option value="3" <% if ( propiedad.TipoPropiedad === 3){ %>selected <% } %>>   Local       </option>
                                                        <option value="4" <% if ( propiedad.TipoPropiedad === 4){ %>selected <% } %>>   Oficina     </option>
                                                        <option value="5" <% if ( propiedad.TipoPropiedad === 5){ %>selected <% } %>>   Bodega      </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-3">
                                    <div class="field">
                                        <label class="label">Tipo de venta</label>
                                        <div class="control">
                                            <div class="select is-expanded is-fullwidth">
                                                <select class="select" name="tipotransaccion" id="tipoVenta">
                                                    <option  disabled <% if ( propiedad === ''){ %> selected <% } %> hidden > Seleccionar tipo</option>
                                                        <option value="1" <% if ( propiedad.TipoTransaccion === 1){ %>selected <% } %>>   Venta</option>
                                                        <option value="2" <% if ( propiedad.TipoTransaccion === 2){ %>selected <% } %>>   Renta</option>
                                                        <option value="3" <% if ( propiedad.TipoTransaccion === 3){ %>selected <% } %>>   Venta/Renta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input value="<%= tipoP ? tipoP : propiedad.Uso %>" id="tipoID" hidden></input>

                            <div class="content is-small">
                                <div class="field">
                                    <label class="label">Descripción</label>
                                    <div class="control">
                                    <textarea onkeyup="cambiarcolor(this)" class="textarea" id="campo-2" name="descripcion" placeholder="Descripcion" ><%= propiedad.Descripcion ? propiedad.Descripcion : '' %>
                                    </textarea></div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Metros Cuadrados Terreno</label>
                                        <div class="control">
                                        <input onkeyup="cambiarcolor(this)" class="input" id="campo-3" name="mterreno" type="number" maxlength="40" placeholder="Terreno m²" value="<%= propiedad.MTerreno ? propiedad.MTerreno : '' %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Metros Cuadrados Construcción</label>
                                        <div class="control">
                                        <input onkeyup="cambiarcolor(this)" class="input" id="campo-4" name="mconstruccion" type="number" maxlength="40" placeholder="Construccion m²" value="<%= propiedad.MConstruccion ? propiedad.MConstruccion : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>

            <div class="section px-0 py-5">
                <div class="card">
                    <div class="card-content">
                        <div class="active-container">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="content is-small">
                                        <div class="field">
                                            <label class="label">Estado</label>
                                            <div class="control">
                                                <input onkeyup="cambiarcolor(this)" class="input" type="text" maxlength="40" name="estado" id="campo-5" placeholder="Estado" value="<%= propiedad.Estado ? propiedad.Estado : '' %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="content is-small">
                                        <div class="field">
                                            <label class="label">Municipio</label>
                                            <div class="control">
                                                <input onkeyup="cambiarcolor(this)" class="input" type="text" maxlength="40" name="muncipio" id="campo-6" placeholder="Municipio" value="<%= propiedad.Municipio ? propiedad.Municipio : '' %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-8">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Colonia</label>
                                        <div class="control">
                                            <input onkeyup="cambiarcolor(this)" class="input" type="text" maxlength="40" name="colonia" id="campo-7" placeholder="Colonia" value="<%= propiedad.Colonia ? propiedad.Colonia : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Codigo Postal</label>
                                        <div class="control">
                                            <input onkeyup="cambiarcolor(this)" class="input" type="number" maxlength="5" name="cp" id="campo-8" placeholder="Codigo Postal" value="<%= propiedad.CP ? propiedad.CP : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column auto">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Calle</label>
                                        <div class="control">
                                            <input onkeyup="cambiarcolor(this)" class="input" type="text" maxlength="40" name="calle" id="campo-9" placeholder="Calle" value="<%= propiedad.Calle ? propiedad.Calle : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>   
                </div>
            </div>



                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                            <div class="active-container">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Precio</label>
                                        <div class="control">
                                            <input onkeyup="cambiarcolor(this)" class="input" type="number" maxlength="40" name="precio" id="campo-10" placeholder="Precio de la propiedad" value="<%= propiedad.Precio ? propiedad.Precio : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>


                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                            <div class="active-container">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Video</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="500" name="video" placeholder="URL de Youtube" value="<%= propiedad.Video ? propiedad.Video : '' %>">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>   
                    </div>
                </div>


                <div class="active-container">

                    <div id="form-complement"> 
                    </div>

                </div>
                <div class="content is-small">  
                    <div class="field">
                        <label class="label">Imagenes</label>
                        <div class="control">
                            <div id="bloque_imagenes">
                                <div class="file is-small is-boxed has-name is-danger ">
                                    <label class="file-label ">
                                        <input class="file-input" type="file" name="imagen" id="boton-0" onchange="clickArchivo(this)">
                                        <span class="file-cta">
                                        
                                            <span class="file-label">
                                                Seleccionar Archivo
                                            </span>
                                        </span>
                                        
                                        <span class="file-name is-hidden" id="archivo-0">
                                            
                                        </span>
                                    
                                    </label>
                                    <span id="erase-0" class="level-right button is-boxed is-danger is-hidden "onclick="removerArchivo(this)" style="margin-left: 10px; margin-bottom: 10px">
                                        <i class="tiny material-icons"> clear </i>  
                                    </span>            
                                </div>
                                <br>
                            </div>
                            <input class="button" type="button" onclick="addIMG(this)" value="+">
                        </div>
                    </div>
                </div>
                <div class="content pb-5">
                    <input type="hidden" value="" id="NPics" name="NPics">
                    <input class="button is-danger"type="submit" id="enviar" name="enviar" value="Guardar" onclick="subirArch()">
                    <div class="content">
                        <h2 id="mensaje" class="has-text-danger"></h2>
                    </div>

                </div>
            </div> 
        </div>  
    </div>




</section>

</form>
<script src="../js/validate.js"></script>

<script>
    let i = 0;
    let Pics = 0;
    const addIMG = (element) => {
        let div = document.getElementById('bloque_imagenes');
        let html = '';
        let hidden = '';
        let lastelement = document.getElementById('boton-'+i);
        if(lastelement.value != ''){
            i++;    
            html += 
            `
                <div class="file is-small is-boxed has-name is-danger ">
                    <label class="file-label ">
                        <input class="file-input" type="file" name="imagen" id="boton-${i}" onchange="clickArchivo(this)">
                        <span class="file-cta">
                        
                            <span class="file-label">
                                Seleccionar Archivo
                            </span>
                        </span>
                        
                        <span class="file-name is-hidden" id="archivo-${i}">
                            
                        </span>
                    
                    </label>
                    <span id="erase-${i}" class="level-right button is-boxed is-danger is-hidden "onclick="removerArchivo(this)" style="margin-left: 10px; margin-bottom: 10px">
                                                        <i class="tiny material-icons"> clear </i>  
                                                    </span>            
                </div>
                <br>
            
            ` 
            
            div.insertAdjacentHTML('beforeend',html);
        }
        
    }

    const clickArchivo = (element) => {
        Pics++;
        let id = element.id.split('-')[1];
        let filename = document.getElementById('archivo-'+id);
        document.getElementById('erase-'+id).classList.remove('is-hidden');
        filename.classList.remove('is-hidden');
        filename.innerHTML = element.files[0].name;
        document.getElementById('NPics').value = Pics;
        
    }
    const removerArchivo = (element) => {
        Pics--;
        let id = element.id.split('-')[1];
        document.getElementById('boton-'+id).value = '';
        document.getElementById('erase-'+id).classList.add('is-hidden');
        let filename = document.getElementById('archivo-'+id);
        filename.classList.add('is-hidden');
        filename.innerHTML = '';
        document.getElementById('NPics').value = Pics;
    }

    /*const subirArch = () => {
        let form = document.getElementById('formaimgs');
        document.getElementById('NPics').value = Pics;
        console.log(Pics);
        form.submit();
    }*/
</script>

<script>
    let residencial = new Object();
    let comercial = new Object();


    <% if (residencial) { %>

        
         residencial.IdPropiedad        = <%= residencial.IdPropiedad        %>;
         residencial.Recamaras          = <%= residencial.Recamaras          %>;
         residencial.Banos              = <%= residencial.Banos              %>;
         residencial.Cocina             = <%= residencial.Cocina             %>;
         residencial.Niveles            = <%= residencial.Niveles            %>;
         residencial.Estacionamiento    = <%= residencial.Estacionamiento    %>;
         residencial.Gas                = <%= residencial.Gas                %>;
         
        <% console.log("desde el ejs") %>
        <% console.log(residencial) %>
         comercial = '';
    <% } else if (comercial) { %>
         residencial = '';
         comercial = <%= comercial %>;
    <% } else { %>

        residencial.Recamaras  = 0;
        residencial = 0;
        comercial = 0;


    <% } %> 
    
    
    
</script>


<%- include('propiedad.registrar.dinamico.ejs', {
    tipoP: tipoP ? tipoP : ''}) %>
<%- include('../includes/foot.ejs') %>