<%- include('../includes/head.ejs') %>


    <div class="container pb-2">
        <div class="content is-normal">
            <h1 class="m-0"><%= propiedad.Descripción %> </h1>
            <span class="icon-text">
                <span class="icon">
                    <i class="mdi mdi-map-marker"></i>
                </span>
                <span><%=propiedad.Estado %>, <%=propiedad.Municipio%>, <%=propiedad.Colonia%></span>
              </span>
        </div>
    </div>

    
<%- include('collage.ejs', {propiedad: propiedad}) %>
<%- include('seccion.residencial.ejs', {propiedad: propiedad, residencial: residencial}) %>
<%- include('../includes/foot.ejs') %>