<%- include('../includes/head.ejs') %>


<section class="main-container pl-5  pr-5">
    <div class="container mt-2 pl-5 pr-5">

        <% if (propiedad === '') { %>
            <form action="/propiedades/registrar" method="POST" enctype="multipart/form-data" id="form">
            <input type="hidden" id="id" name="id" value="<%= propiedad.IdPropiedad %>">
            <div class="content mt-5"">
                <h1>Registrar propiedad</h1>
            </div>
        <% } else { %>
            <form action="/propiedades/editar" enctype="multipart/form-data" method="POST" id="form">
            <input type="hidden" id="id" name="id" value="<%= propiedad.IdPropiedad %>">
            <input type="hidden" id="id" name="usodata" value="<%= propiedad.Uso %>">
            <input type="hidden" id="agenteAsig" name="agenteAsig" value="<%= agente.IdUsuario %>">
            <input type="hidden" id="edit" value="1">
            <div class="content mt-5"">
                <h1>Editar propiedad</h1>
            </div>
            <% if(permisos.indexOf('panel_admin') != -1) { %>
                <div class="columns">
                    <div class="column is-8">
                        <div class="section px-0 py-5 ">
                            <div class="card">
                                <div class="card-content">
                                    <div class="active-container">
                                        <div class="content is-small">
                                            <div class="field">
                                                <label class="label"> Agente Asignado </label>
                                                
                                            </div>
                                            <div class="control">
                                                <div class="select is-expanded is-fullwidth">
                                                    <select class="select" name="consulta" id="consulta" onchange="setNewAgent(this)">
                                                        <option value="<%= agente.IdUsuario %>" selected> <%= agente.Nombre %> <%= agente.PA %> <%= agente.SA %></option>
                                                        <% for(elements of agentes) {  %>
                                                            <option value="<%= elements.IdUsuario %>" > <%= elements.Nombre %> <%= elements.PA %> <%= elements.SA %></option>
                                                        <%}%>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                                
                                            
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>

        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <div class="columns is-multiline">
            <div class="column is-8">
                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                        <div class="active-container">
                            <div class="content is-small">
                                <div class="field">
                                    <label class="label">Titulo</label>
                                    <div class="control">
                                    <input onkeyup="cambiarcolor(this)" class="input" id="campo-1" name="titulo" type="text" maxlength="70" placeholder="Titulo del anuncio" value="<%= propiedad.Titulo ? propiedad.Titulo : '' %>">
                                    </div>
                                </div>
                            </div>


                            <div class="columns">
                             <% if (propiedad === '') { %>
                                <div class="column is-4">
                                    <div class="field">
                                        <label class="label">Tipo de propiedad</label>
                                        <div class="control">
                                            <div class="select is-expanded is-fullwidth">
                                                <select class="select" name="uso" id="campo-11" onchange="cambiarcolor(this)">
                                                    <option value="" disabled selected hidden>Seleccionar tipo</option>
                                                    <option value="1">Residencial</option>
                                                    <option value="2">Comercial</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="column is-4">
                                    <div class="field">
                                        <label class="label">Visibilidad</label>
                                        <div class="control">
                                            <div class="select is-expanded is-fullwidth">
                                                <select class="select" name="visibilidad" id="campo-11" onchange="cambiarcolor(this)">
                                                    <option value="1" <% if ( propiedad.Visibilidad == '1'){ %> selected <% } %>>Visible</option>
                                                    <option value="0" <% if ( propiedad.Visibilidad == '0'){ %> selected <% } %>>No visible</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <div class="column is-4">
                                    <div class="field">
                                        <label class="label">Subtipo</label>
                                        <div class="control">
                                            <div class="select is-expanded is-fullwidth">
                                                <select class="select" id="campo-12" name="tipopropiedad" onchange="cambiarcolor(this)">
                                                    <option  disabled  <% if ( propiedad === ''){ %> selected <% } %> hidden >        Seleccionar tipo</option>
                                                        <option value="1" <% if ( propiedad.TipoPropiedad === 1){ %>selected <% } %>>   Casa        </option>
                                                        <option value="2" <% if ( propiedad.TipoPropiedad === 2){ %>selected <% } %>>   Departamento</option>
                                                        <option value="3" <% if ( propiedad.TipoPropiedad === 3){ %>selected <% } %>>   Local       </option>
                                                        <option value="4" <% if ( propiedad.TipoPropiedad === 4){ %>selected <% } %>>   Oficina     </option>
                                                        <option value="5" <% if ( propiedad.TipoPropiedad === 5){ %>selected <% } %>>   Bodega      </option>
                                                        <option value="6" <% if ( propiedad.TipoPropiedad === 6){ %>selected <% } %>>   Terreno      </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-4">
                                    <div class="field">
                                        <label class="label">Tipo de operación</label>
                                        <div class="control">
                                            <div class="select is-expanded is-fullwidth">
                                                <select class="select" name="tipotransaccion" id="campo-13" onchange="cambiarcolor(this)">
                                                    <option  disabled <% if ( propiedad === ''){ %> selected <% } %> hidden > Seleccionar tipo</option>
                                                        <option value="1" <% if ( propiedad.TipoTransaccion === '1'){ %>selected <% } %>>   Venta</option>
                                                        <option value="2" <% if ( propiedad.TipoTransaccion === '2'){ %>selected <% } %>>   Renta</option>
                                                        <option value="3" <% if ( propiedad.TipoTransaccion === '3'){ %>selected <% } %>>   Venta/Renta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input value="<%= tipoP ? tipoP : propiedad.Uso %>" id="tipoID" hidden></input>

                            <div class="content is-small">
                                <div class="field">
                                    <label class="label">Descripción</label>
                                    <div class="control">
                                        <textarea onkeyup="cambiarcolor(this)" class="textarea" id="campo-2" name="descripcion" placeholder="Descripcion"><%= propiedad.Descripcion ? propiedad.Descripcion : '' %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Metros Cuadrados Terreno</label>
                                        <div class="control">
                                        <input onkeyup="cambiarcolor(this)" class="input" id="campo-3" name="mterreno" type="number" maxlength="40" placeholder="Terreno m²" value="<%= propiedad.MTerreno ? propiedad.MTerreno : '' %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Metros Cuadrados Construcción</label>
                                        <div class="control">
                                        <input onkeyup="cambiarcolor(this)" class="input" id="campo-4" name="mconstruccion" type="number" maxlength="40" placeholder="Construccion m²" value="<%= propiedad.MConstruccion ? propiedad.MConstruccion : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>

            <div class="section px-0 py-5">
                <div class="card">
                    <div class="card-content">
                        <div class="active-container">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="content is-small">
                                        <div class="field">
                                            <label class="label">Estado</label>
                                            <div class="control">
                                                <input onkeyup="cambiarcolor(this)" class="input" type="text" maxlength="40" name="estado" id="campo-5" placeholder="Estado" value="<%= propiedad.Estado ? propiedad.Estado : '' %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="content is-small">
                                        <div class="field">
                                            <label class="label">Municipio</label>
                                            <div class="control">
                                                <input onkeyup="cambiarcolor(this)" class="input" type="text" maxlength="40" name="muncipio" id="campo-6" placeholder="Municipio" value="<%= propiedad.Municipio ? propiedad.Municipio : '' %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-8">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Colonia</label>
                                        <div class="control">
                                            <input onkeyup="cambiarcolor(this)" class="input" type="text" maxlength="40" name="colonia" id="campo-7" placeholder="Colonia" value="<%= propiedad.Colonia ? propiedad.Colonia : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Codigo Postal</label>
                                        <div class="control">
                                            <input onkeyup="cambiarcolor(this)" class="input" type="number" maxlength="5" name="cp" id="campo-8" placeholder="Codigo Postal" value="<%= propiedad.CP ? propiedad.CP : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column auto">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Calle</label>
                                        <div class="control">
                                            <input onkeyup="cambiarcolor(this)" class="input" type="text" maxlength="40" name="calle" id="campo-9" placeholder="Calle" value="<%= propiedad.Calle ? propiedad.Calle : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>   
                </div>
            </div>



                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                            <div class="active-container">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Precio</label>
                                        <div class="control">
                                            <input onkeyup="cambiarcolor(this)" class="input" type="number" maxlength="40" name="precio" id="campo-10" placeholder="Precio de la propiedad" value="<%= propiedad.Precio ? propiedad.Precio : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>


                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                            <div class="active-container">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Video</label>
                                        <div class="control">
                                            <input class="input" id="campo-14"type="text" maxlength="500" name="video" placeholder="URL de Youtube" value="<%= propiedad.Video ? propiedad.Video : '' %>">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>   
                    </div>
                </div>


                <div class="active-container">

                    <div id="form-complement"> 
                    </div>

                </div>
                <style>
                   .boton {
                        position: absolute;
                        top: 5%;
                        left: 95%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        background-color: grey;
                        
                    }
                </style>
                <div class="section px-0 py-5 <%= fotos != '' ? '': 'is-hidden'%>" id="imagebox" >
                    <div class="card" >
                        <div class="card-content columns is-multiline "id="imagepreview" >
                            <div class="column is-6">
                                <h2 class="label"> Vista Previa </h2>
                            </div>
                            <div class="column is-6">
                                <div class="columns">
                                    <div class="column is-6 is-hidden" id="clearselbutton">
                                        <input type="button" class="button is-danger is-fullwidth" onclick="EliminarIMGs()" value="Eliminar Selección">
                                    </div>
                                    <div class="column is-6 is-hidden" id="revertbutton">
                                        <input type="button" class="button is-danger is-fullwidth" onclick="RevertirEdit()" value="Revertir cambios">
                                    </div>
                                </div>
                            </div>
                            
                            <% if(fotos != '') { %>
                                <input type="hidden" id="nEditPhotos" value="<%= fotos.length %>">
                                <% for (elements of fotos) { %>
                                    <div class="column" id="editimgholder-<%= elements.IdImagen %>">
                                        <figure class="image is-128x128"  id="Editimage-<%= elements.IdImagen %>">
                                            <button type="button" class="delete boton" id="Editimgbtn-<%= elements.IdImagen %>" onclick="removerArchivoEdit(this)"></button>
                                            <img id="Editminipic-<%= elements.IdImagen %>" src="../uploads/<%= elements.Imagen %>">
                                            <input type="hidden" id="fullPath-<%= elements.IdImagen %>" value="<%= elements.fullPath %>">
                                            <p class="title is-6"></p>
                                        </figure>
                                    </div>
                                <% } %>
                            <% } %>
                            <br>
                            <br>
                            
                            
                        </div>
                    </div>
                    
                </div>
                
                
                <div class="content is-small">  
                    <div class="field">
                        <label class="label">Imagenes</label>
                        <div class="control">
                            
                            <div id="bloque_imagenes">
                                <div class="file is-small is-boxed has-name is-danger ">
                                    <label class="file-label ">
                                        <input class="file-input" type="file" name="imagen" accept="image/*" id="boton-0" onchange="clickArchivo(this)" multiple>
                                        <span class="file-cta">
                                        
                                            <span class="file-label">
                                                Seleccionar Archivo
                                            </span>
                                        </span>
                                        
                                        <span class="file-name is-hidden" id="archivo-0">
                                            
                                        </span>
                                    
                                    </label>
                                    <span id="erase-0" class="level-right button is-boxed is-danger is-hidden "onclick="removerArchivo(this)" style="margin-left: 10px; margin-bottom: 10px">
                                        <i class="tiny material-icons"> clear </i>  
                                    </span>            
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content pb-5">
                    <input type="hidden" value="" id="NPics" name="NPics">
                    <input class="button is-danger" type="button" id="enviar" name="enviar" value="Guardar" onclick="subirArch()">
                    <div class="content">
                        <h2 id="mensaje" class="has-text-danger"></h2>
                    </div>

                </div>
                <div class="columns">
                    <div class="column is-9"></div>
                    <div class="column">
                        <a href="/dashboard/" class="button is-danger"> Regresar </a>
                    </div>
                </div>
            </div> 
        </div>  
    </div>




</section>

</form>
<script src="../js/validate.js"></script>
<script src="../js/dist/bulma-toast.min.js"></script>

<script>
    // Variable que contiene el valor iniical de la caja de preview, por si se decide eliminar todo de la seleccion.
    let PrevImgBox = document.getElementById('imagepreview').innerHTML;
    
    // Revisa que no haya campos vacios en el registro de la propiedad, si no lanza un mensaje al usuario para que termine de hacer su registro
    const subirArch = () => {
        let form = document.getElementById('form');
        let imgfield = document.getElementById('boton-0');
        let div = document.getElementById('imagepreview');
        // Se obtienen los strings de los Ids y los paths a quitar, si es que hay.
        let paths = getStringedPaths();
        
        console.log(allowsave);
        console.log(paths);
        checkbutton(map);
        // Si todas las condiciones para guardar se cumplen (5 o mas fotos, y que todos los campos esten llenos) envia la info al backend.
        if(allowsave){
            let html = 
            `
                <input type="hidden" name="removePaths" value="${paths.stringedPaths}">
                <input type="hidden" name="removePathsId" value="${paths.stringedIds}">
                <input type="hidden" name="nPaths" value="${paths.nPaths}">

            `
            div.insertAdjacentHTML('beforeend',html);
            form.submit();
        }
        else if(imgfield.files.length + nPhotos < 5){
            bulmaToast.toast({ message: 'La propiedad debe tener al menos 5 imagenes', type: 'is-danger', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }});
    
        }else {
            bulmaToast.toast({ message: 'Llena los campos requeridos para continuar', type: 'is-danger', position: 'bottom-right', animate: { in: 'fadeIn', out: 'fadeOut' }});
        }
    }

    let filearray = new Array();
    let removePaths = new Map();
    let imgid = 0;
    // Cuando se añade una lista de archivos, se tiene que hacer un super chequeo
    const clickArchivo = (element) => {
        let DT = new DataTransfer();
        let div = document.getElementById('imagepreview');
        let files = element.files
        let html = '';
        // Como es incremental nuestra funcionalidad, se debe obtener la lista actual de archivos del arreglo filearray.
        DT = getCurrentFiles(DT);
        // Una vez obtenido, se añaden las nuevas inserciones 
        for(elements of files){
            DT.items.add(elements);
        }
        console.log(DT.files);
        // Se generan los nuevos bloques que contendran las nuevas imagenes que fueron añadidas con el fin de mostrar un preview
        for(elements of files){
            console.log(elements);
            console.log(imgid);
            html = 
            `
                <div class="column" id="imgholder-${imgid}">
                    <figure class="image is-128x128"  id="image-${imgid}">
                        <button type="button" class="delete boton" id="imgbtn-${imgid}" onclick="removerArchivo(this)"></button>
                        <img id="minipic-${imgid}" src="">
                        <p class="title is-6"></p>
                    </figure>
                    
                </div>
            `
            // Como puede haber imagenes ya creadas, se añaden las nuevas al final del div.
            div.insertAdjacentHTML('beforeend',html);
            document.getElementById(`minipic-${imgid}`).src = URL.createObjectURL(elements);
            // El arreglo global de archivos crece con las nuevas imagenes
            filearray.push(elements);
            // El id de imagenes igual, este NUNCA se debe resetear, va directamente ligado al filearray y a los divs generados, mantiene
            // concordancia con lo que se esta seleccionando y lo que se esta visualizando.
            imgid++;
        }
        document.getElementById('imagebox').classList.remove('is-hidden');
        document.getElementById('clearselbutton').classList.remove('is-hidden');
        console.log(filearray);
        // Se actualiza la lista del DOM.
        element.files = DT.files;
        // Se revisan las condiciones para habilitar la subida de informacion.
        checkbutton(map);
        
    }
    // Cuando se quiere eliminar alguna de las imagenes seleccionadas se ejecuta esta funcion
    const removerArchivo = (element) => {
        // Promesa para que se ejecute secuencialmente el chequeo de la validez, ya que se necesita tener imagenes para poder subir una propiedad.
       reorgFileArray(element).then(()  =>{
        checkbutton(map);
       }).catch(err => {
        console.log(err);
       })
        
    }

    // Promesa que ejecuta la eliminacion de la imagen, tanto del preview, como del arreglo global y la info del boton de files.
    const reorgFileArray = (element) => {
        return new Promise(resolve => {
            // Se obtiene el ID de la img que se quiere eliminar
            let id = element.id.split('-')[1];
            // Se usa el id para encontrarlo en el arreglo global y marcarlo como nulo
            filearray[parseInt(id)] = null;
            // Se obtiene el padre de todas las imagenes
            let parentDiv = document.getElementById('imagepreview')
            // Nuevamente el ID se utiliza para encontrar el div que contiene el preview de la imagen que se va a eliminar
            let div = document.getElementById('imgholder-'+id);
            // Se destruye el div que contiene la imagen a borrar
            parentDiv.removeChild(div);
            // Se obtiene el boton que contiene la lista de archivos a subir
            let upbt = document.getElementById('boton-0');
            let filelist = new DataTransfer();
            // Se obtiene la lista de archivos desde el arreglo global
            filelist = getCurrentFiles(filelist);
            // Se intercambia la lista.
            upbt.files = filelist.files;
            console.log(upbt.files);
            // Si se eliminan todos los archivos, se esconde la caja de preview.
            if(upbt.files.length == 0 ){
                if(editing == 0)
                    document.getElementById('imagebox').classList.add('is-hidden');    
                document.getElementById('clearselbutton').classList.add('is-hidden');
            }

            resolve();
        })
    }
    // Funcio que elimina TODAS las imagenes de la lista
    const EliminarIMGs = () => {
        // Limpieza del arreglo global
        filearray = [];
        let upbt = document.getElementById('boton-0');
        let filelist = new DataTransfer();
        filelist.clearData();
        // Limpieza de la lista del DOM
        upbt.files = filelist.files;
        console.log(upbt.files);
        // Se restaura a la version inicial del preview para cuando se agreguen mas imagenes.
        document.getElementById('imagepreview').innerHTML = PrevImgBox;
        // Se esconde el preview al ultimo
        if(nPhotos == 0)
            document.getElementById('imagebox').classList.add('is-hidden');
        document.getElementById('clearselbutton').classList.add('is-hidden');
        checkbutton(map);
    }
    const getCurrentFiles = (filelist) => {
        // Se checa el arreglo global y se omiten todas las entradas nulas cuando se genera la nueva lista.
        for(element of filearray){
                console.log(element);
                if(element != null)
                    filelist.items.add(element);
            }
        return filelist;
    }
    
    // Funcion que elimina las fotos que ya se encontraban dentro de la base de datos al editar la propiedad
    const removerArchivoEdit = (element) => {
        // ID de la imagen en la bd
        let id = element.id.split('-')[1];
        let imgfield = document.getElementById('boton-0');
        let fullPath = document.getElementById('fullPath-'+id).value;
        let child = document.getElementById('editimgholder-'+id);
        document.getElementById('revertbutton').classList.remove('is-hidden');
        child.classList.add('is-hidden');
        nPhotos--;

        //Mapa que contiene el ID de la imagen y la direccion para poderlos borrar una vez que se guarden los cambios.
        removePaths.set(id,fullPath);
        console.log(removePaths);
        // Verifica que las condiciones para guardar los cambios se mantengan.
        checkbutton(map);

        


    }

    // Funcion que limpia el mapa de archivos a borrar. 
    const RevertirEdit = () => {
        // Se recarga el numero de fotos que ya estban guardadas en la BD
        nPhotos = document.getElementById('nEditPhotos').value;
        for(const [key, value] of removePaths) {
            // Se vuelven a mostrar nuevamente los registros que se planeaban remover
            document.getElementById('editimgholder-'+key).classList.remove('is-hidden');
            
        }
        // Se limpia el mapa, ya que no se va a borrar nada mas.
        removePaths.clear();

        // Esconde los botones
        document.getElementById('revertbutton').classList.add('is-hidden');
        document.getElementById('imagebox').classList.remove('is-hidden');
        console.log(removePaths);
        // Nuevamente se checan las condiciones para guardar las propiedades.
        checkbutton(map);
    }

    // Funcion que obtiene los paths y los ids para borrar y los convierte en un string para enviar al backend
    const getStringedPaths = () => {
        let aux = new Object();
        aux.stringedPaths = '';
        aux.stringedIds = '';
        for(const [key,value] of removePaths) {
            aux.stringedPaths += value + ','; 
            aux.stringedIds += key + ',';
        }
        aux.nPaths = removePaths.size;
        return aux;

    }
    //Funcion que actualiza parametro para definir un nuevo agente encargado
    const setNewAgent = (element) => {
        let agentId = element.value;
        document.getElementById('agenteAsig').value = agentId;

    }

</script>

<script>
    let residencial = new Object();
    let comercial = new Object();


    <% if (residencial) { %>

        
         residencial.IdPropiedad        = <%= residencial.IdPropiedad        %>;
         residencial.Recamaras          = <%= residencial.Recamaras          %>;
         residencial.Banos              = <%= residencial.Banos              %>;
         residencial.Cocina             = <%= residencial.Cocina             %>;
         residencial.Niveles            = <%= residencial.Niveles            %>;
         residencial.Estacionamiento    = <%= residencial.Estacionamiento    %>;
         residencial.Gas                = <%= residencial.Gas                %>;
         
        <% console.log("desde el ejs") %>
        <% console.log(residencial) %>
         comercial = '';
    <% } else if (comercial) { %>
         residencial = '';
         comercial.Estacionamiento = <%= comercial.Estacionamiento %>;
         comercial.IdPropiedad = <%= comercial.IdPropiedad %>;
         comercial.Cuartos = <%= comercial.Cuartos %>;
         comercial.Banos = <%= comercial.Banos %>;
         comercial.Niveles = <%= comercial.Niveles %>;
         
    <% } else { %>

        residencial.Recamaras  = 0;
        residencial = 0;
        comercial = 0;


    <% } %> 
    
    
    
</script>


<%- include('propiedad.registrar.dinamico.ejs', {
    tipoP: tipoP ? tipoP : ''}) %>
<%- include('../includes/foot.ejs') %>