<%- include('../includes/head.ejs') %>

<% if (propiedad === '') { %>
<form action="/propiedades/registrar" method="POST">
<% } else { %>
    <form action="/propiedades/editar" method="POST">
    <input type="hidden" id="id" name="id" value="<%= propiedad.IdPropiedad %>">
<% } %>
<section class="main-container">
    <div class="container mt-5">
        <div class="content mt-5"">
            <h1>Resgistrar propiedad</h1>
        </div>
        
        <div class="columns is-multiline">
            <div class="column is-8">
                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                        <div class="container">
                            <div class="content is-small">
                                <div class="field">
                                    <label class="label">Titulo</label>
                                    <div class="control">
                                    <input class="input" id="titulo" name="titulo" type="text" maxlength="40" placeholder="" value="<%= propiedad.Titulo ? propiedad.Titulo : '' %>">
                                    </div>
                                </div>
                            </div>


                            <div class="columns">
                             <% if (propiedad === '') { %>
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Tipo de propiedad</label>
                                        <div class="control">
                                            <div class="select is-expanded">
                                                <select class="select" name="tipoPropiedad" id="tipoPropiedad">
                                                    <option value="" disabled selected hidden>Seleccionar tipo</option>
                                                    <option value="Residencial">Residencial</option>
                                                    <option value="Comercial">Comercial</option>
                                                    <option value="Terreno">Terreno</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Tipo de venta</label>
                                        <div class="control">
                                            <div class="select is-expanded">
                                                <select class="select" name="tipoVenta" id="tipoVenta">
                                                    <option  disabled selected hidden>Seleccionar tipo</option>
                                                    <option value="Residencial">Venta</option>
                                                    <option value="Comercial">Renta</option>
                                                    <option value="Terreno">Venta/Renta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input value="<%= tipoP ? tipoP : '' %>" id="tipoID" hidden></input>

                            <div class="content is-small">
                                <div class="field">
                                    <label class="label">Descripción</label>
                                    <div class="control">
                                    <input class="input" type="text" maxlength="200" id="descripcion" name="descripcion" placeholder="" value="<%= propiedad.Descripcion ? propiedad.Descripcion : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>

            <div class="section px-0 py-5">
                <div class="card">
                    <div class="card-content">
                        <div class="container">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="content is-small">
                                        <div class="field">
                                            <label class="label">Estado</label>
                                            <div class="control">
                                                <input class="input" type="text" maxlength="40" name="estado" id="estado" placeholder="" value="<%= propiedad.Estado ? propiedad.Estado : '' %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="content is-small">
                                        <div class="field">
                                            <label class="label">Municipio</label>
                                            <div class="control">
                                                <input class="input" type="text" maxlength="40" name="muncipio" placeholder="" value="<%= propiedad.Municipio ? propiedad.Municipio : '' %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-8">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Colonia</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="colonia" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Codigo Postal</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="cp" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column auto">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Calle</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="calle" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>   
                </div>
            </div>
            


                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                            <div class="container">
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Precio</label>
                                        <div class="control">
                                            <input class="input" type="number" maxlength="40" name="precio" id="precio" placeholder="" value="<%= propiedad.Precio ? propiedad.Precio : '' %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                

                <div class="section px-0 py-5">
                    <div class="card">
                        <div class="card-content">
                            <div class="container">
                                <div class="content is-small">  
                                    <div class="field">
                                        <label class="label">Imagenes</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="500" name="imagenes" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="content is-small">
                                    <div class="field">
                                        <label class="label">Video</label>
                                        <div class="control">
                                            <input class="input" type="text" maxlength="40" name="video" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                

                <div class="container">

                    <div id="form-complement"> 
                    </div>

                    
            
                </div>
            
                <div class="content">
                    <input class="button is-danger"type="submit" id="enviar" name="enviar" value="Registrar">
                </div>
            </div> 
            
            
        </div>
    
        
        
    </div>

    

    
</section>

</form>

<%- include('propiedad.registrar.dinamico.ejs', {
    tipoP: tipoP ? tipoP : ''}) %>
<%- include('../includes/foot.ejs') %>