<div class="active-container m-0 pt-5" >

    <div class="card is-horizontal">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div class="card-image">
          <a href="/propiedades/<%=propiedad.IdPropiedad%>">  
          <figure class="image is-4by3">
            <img src="../uploads/<%=propiedad.Imagenes %>" alt="Placeholder image">
          </figure>
          </a>
        </div>
       
            <div class="card-stacked">
              <a href="/propiedades/<%=propiedad.IdPropiedad%>">  
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4"><%=propiedad.Titulo%> </p>
                  <p class="subtitle is-6"><span class="icon-text"> 
                      <span class="icon">
                          <i class="mdi mdi-map-marker"></i>
                      </span>
                      <span><%=propiedad.Estado %>, <%=propiedad.Municipio%>, <%=propiedad.Colonia%></span>
                    </span></p>
                </div>
                
              </a>
              </div>
              <% if(permisos.indexOf('panel_admin') != -1 | permisos.indexOf('panel_agente') != -1) { %>
              <div>
                <!-- -----PROPIETARIO------ -->
                <% if(propiedad.Vendedor_ID != 0 ) { %>
                  <p>  <strong>Propietario:</strong> <%=propiedad.Vendedor_Nombre%> <%=propiedad.Vendedor_PA%> <%=propiedad.Vendedor_SA%></p>
                  <p>  Telefono: <%=propiedad.Vendedor_Tel%></p>
                  <p>  Email: <%=propiedad.Vendedor_Email%></p>

                  <% } else if (propiedad.Arrendador_ID != 0 ) { %>
                  <p> <strong>Propietario:</strong> <%=propiedad.Arrendador_Nombre%> <%=propiedad.Arrendador_PA%> <%=propiedad.Arrendador_SA%></p>
                  <p>  Telefono: <%=propiedad.Arrendador_Tel%></p>
                  <p>  Email: <%=propiedad.Arrendador_Email%></p>

                <% } else {%>
                  <p> <strong>Propietario:</strong> No asignado</p>
                  
                <% } %>
                  <br>
                  <!---INTERERADO--->

                <% if(propiedad.Comprador_ID != 0 ) { %>
                  <p>  <strong>Interesado:</strong> <%=propiedad.Comprador_Nombre%> <%=propiedad.Comprador_PA%> <%=propiedad.Comprador_SA%></p>
                  <p>  Telefono: <%=propiedad.Comprador_Tel%></p>
                  <p>  Email: <%=propiedad.Comprador_Email%></p>

                  <% } else if (propiedad.Arrendatario_ID != 0 ) { %>
                  <p> <strong>Interesado:</strong> <%=propiedad.Arrendatario_Nombre%> <%=propiedad.Arrendatario_PA%> <%=propiedad.Arrendatario_SA%></p>
                  <p>  Telefono: <%=propiedad.Arrendatario_Tel%></p>
                  <p>  Email: <%=propiedad.Arrendatario_Email%></p>

                <% } else {%>
                  <p> <strong>Interesado:</strong> No asignado</p> 
                <% } %>
                <br>
              </div>
              <% } %>
            
            <footer class="card-footer">
              <% if(permisos.indexOf('editar_propiedad') != -1) { %>
              <div class="card-footer-item has-text-left">
                <a href="/propiedades/editar/<%=propiedad.IdPropiedad%>"><h1>Editar</h1></a>
              </div>
              <% } %> 
              <% if(permisos.indexOf('cancelar_proc') != -1) { %>
                <div class="card-footer-item has-text-left">
                  <a href="<%= propiedad.Visibilidad == 1 ? `/estatus/asignar/${propiedad.IdPropiedad}` : 'javascript:void(0)'%>"><h1><%= propiedad.Visibilidad == 1 ? 'Iniciar Proceso' : 'Cancelar Proceso'%> </h1></a>
                </div>  
              <% } %>  
              <div class="card-footer-item has-text-left">
                <a href="/estatus/<%=propiedad.IdPropiedad%>"><h1>Seguimiento</h1></a>
              </div>
              <% if(permisos.indexOf('editar_seguimiento') != -1) { %>
              <div class="card-footer-item has-text-left">
                <a href="/expediente/revPropiedad/<%= propiedad.IdPropiedad %>"><h1>Expediente</h1></a>
              </div>
              <% } else { %>
                <div class="card-footer-item has-text-left">
                  <a href="/expediente/Propiedad/<%= propiedad.IdPropiedad %>"><h1>Expediente</h1></a>
                </div>
              <% } %>
              <% if(permisos.indexOf('editar_propiedad') != -1) { %>
                <div class="card-footer-item has-text-left">
                  <a  onclick="eliminar(<%= propiedad.IdPropiedad%>)"><h1>Eliminar</h1></a>
                </div>
              <% } %>                
              
            </footer>
            
        </div>
      
  </div>
</div>