<%- include('../includes/head.ejs') %>


    <div class="container pb-2 pl-4">
        <div class="content">
            <h1 class="pl-1 mS-0"><%= propiedad.Descripcion %> </h1>
            <span class="icon-text pt-0">
                <span class="icon">
                    <i class="mdi mdi-map-marker"></i>
                </span>
                <span><%=propiedad.Estado %>, <%=propiedad.Municipio%>, <%=propiedad.Colonia%></span>
              </span>
        </div>
    </div>

    <div class="section pt-0 pb-0">
<%- include('collage.ejs', {propiedad: propiedad}) %>
    </div>
<%- include('seccion.comercial.ejs', {propiedad: propiedad, comercial: comercial}) %>
<%- include('../includes/foot.ejs') %>