<%- include('../includes/head.ejs') %>


    <div class="container pb-2">
        <div class="content is-normal">
            <h1 class="m-0"><%= propiedad.Titulo %></h1>
            <span class="icon-text">
                <span class="icon">
                    <i class="mdi mdi-map-marker"></i>
                </span>
                <span><%=propiedad.Estado %>, <%=propiedad.Municipio%>, <%=propiedad.Colonia%></span>
              </span>
        </div>
    </div>

    
<%- include('collage.ejs', {propiedad: propiedad}) %>
<%- include('seccion.residencial.ejs', {propiedad: propiedad, residencial: residencial}) %>

<div id ="map"> </div> 
<script>
          var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 43.5293101, lng: -5.6773233},
          zoom: 13
        });
      }
</script>    <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoH6Zli4y53NVP63fZrAlsVjiVmLq0IyE&callback=initMap">
</script>

<%- include('../includes/foot.ejs') %>