<%- include('../includes/head.ejs') %>

    <div class="has-background-light box">
        <div class="box">

            <% if (info.length > 0) { %>
                <% for (let elements of info) { %>
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <strong><%= elements.idUsuario%></strong>
                                <br>
                                <%= elements.contenido%>
                                    <br>
                                    <small><a><%= elements.fecha%></a></small>
                                    </p>
                                    <p>
                            </div>
                        </div>
                    </article>
                    <% } %>

                        <% } else { %>
                            <h1>El arreglo está vacío</h1>
                            <% } %>


                                <form action="/resenas" method="post">
                                    <article class="media">
                                        <div class="media-content">
                                            <div class="field">
                                                <p class="control">
                                                    <input class="input" type="text" id="resena_cont" name="contenido" onkeyup="cambiarcolor(this) " maxlength="255" placeholder="Añade un comentario...">
                                                </p>
                                            </div>
                                            <div class="field">
                                                <p class="control">
                                                    <input class="button has-text-centered is-danger" type="submit" id="enviar" name="enviar" value="Publicar">
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </form>

        </div>
    </div>


    <%- include('../includes/foot.ejs') %>