<%- include('../includes/head.ejs') %>
    <div class="container">
        <h1 class="title is-large"> Avance del proceso</h1>
        <div class="level">
            <div class="level-item has ">
                
                <ul class="steps is-vertical is-hollow">
                    
                    <% if(listEstatus != '') { %>
                        <input id="idp" type="hidden" value="<%= listEstatus[0].idpropiedad  ? listEstatus[0].idpropiedad  : ''%>">
                        <div class="content pb-3">
                            <h2 class="title is-large"> Propiedad en venta</h2>
                            <p></p>
                        </div>
                        <% for(let l of listEstatus) { %>
                            <% if(l.SumaFechas == l.fechaInicio){%>
                                <li class="steps-segment is-active">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } else { %>
                                <li class="steps-segment ">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <input id="idp" type="hidden" value="<%= listEstatus2[0].idpropiedad ? listEstatus2[0].idpropiedad : ''%>">
                        <div class="content pb-3">
                            <h2 class="title is-large"> Propiedad en renta</h2>
                            <p></p>
                        </div>
                        
                        <% for(let l of listEstatus2) { %>
                            <% if(l.SumaFechas == l.fechaInicio){%>
                                <li class="steps-segment is-active">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } else { %>
                                <li class="steps-segment ">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } %>
                        <% } %>
                    <% } %>  
                </ul>
                
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-10"></div>
        <a href="/estatus/" class="column"><button class="button is-primary is-danger"> Regresar </button></a>
    </div>

    <input type="hidden" id="_csrf" value="<%= csrfToken %>">

    <script src="../js/dist/bulma-toast.min.js"></script>
    <script>
        const enableGuardar = (elemento)=>{
            let id = elemento.id.split('-')[1];
            let boton = document.getElementById('boton-'+id);
            let idPaso = document.getElementById('idPaso-'+id).value;
            console.log(idPaso);
            //console.log(elemento.value);
            boton.onclick = () => guardarEstado(elemento.value, idPaso, boton, id);
            boton.classList.remove('is-hidden');
        }
        

    const guardarEstado = (estado, idPaso, boton, id) => {
        document.getElementById('idp').value;
        
        const csrf = document.getElementById('_csrf').value;
        const idpro = document.getElementById('idp').value;
    
        //función que manda la petición asíncrona
        fetch('/estatus/update', {
            
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                estado: estado,
                idPaso: idPaso,
                idpro: idpro,
                _csrf: csrf,
            }),
        }).then(result => {
            return result.json(); //Regresa otra promesa
        }).then(data => {
            console.log(data);
            boton.classList.add('is-hidden');

            let steps_marker = document.getElementById(id);
            if (data.status === "1") {
                steps_marker.innerHTML = '<span class="icon"><i class="mdi mdi-check"></i></span>';
            } else {
                steps_marker.innerHTML = "";
            }
            //alert(data.mensaje); //hacer toast
            bulmaToast.toast({ message: data.mensaje, type: 'is-success', position: 'up-right', animate: { in: 'fadeIn', out: 'fadeOut' }})
        

        }).catch(err => {
            console.log(err);
        });

    }

    </script>
<%- include('../includes/foot.ejs') %>