<%- include('../includes/head.ejs') %>
    <div class="container">
        <h1 class="title is-large"> Avance del proceso</h1>
        <div class="level">
            <div class="level-item has ">
                <ul class="steps is-vertical is-hollow">
                    
                    <% if(listEstatus != '') { %>
                        <h1 class="title is-large"> Propiedad en venta</h1>
                        <% for(let l of listEstatus) { %>
                            <% if(l.SumaFechas == l.fechaInicio){%>
                                <li class="steps-segment is-active">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } else { %>
                                <li class="steps-segment ">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <h1 class="title is-large"> Propiedad en renta</h1>
                        <% for(let l of listEstatus2) { %>
                            <% if(l.SumaFechas == l.fechaInicio){%>
                                <li class="steps-segment is-active">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } else { %>
                                <li class="steps-segment ">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } %>
                        <% } %>
                    <% } %>
                    
                </ul>
            </div>
        </div>
    </div>
<%- include('../includes/foot.ejs') %>