<%- include('../includes/head.ejs') %>

    
    <div class="container">
        <h1 class="title is-large"> Avance del proceso</h1>
        <div class="level">
            <div class="level-item has ">
                <ul class="steps is-vertical is-hollow">
                    
                    <% if(listEstatus != '') { %>
                        <% for(let l of pasosC) { %>
                            <% if(listEstatus.SumaFechas != listEstatus.fechaInicio){%>
                                <li class="steps-segment is-active">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } else { %>
                                <li class="steps-segment ">
                                    <%- include('step.ejs', {paso: l}) %>
                                </li>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <% for(let l of pasosR) { %>
                            <li class="steps-segment">
                                <%- include('step.ejs', {paso: l}) %>
                            </li>
                        <% } %>
                    <% } %>
                    
                </ul>
            </div>
        </div>
    </div>
    

<%- include('../includes/foot.ejs') %>